{% for interface in dot1x_interfaces -%} {# dot1x_interfaces is found in group_vars/all.yml #}
interface {{ interface.long }}
 description DOT1X VOIP
 switchport access vlan 999
 switchport mode access
 authentication event server dead action authorize voice
 authentication host-mode multi-domain
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication periodic
 authentication timer reauthenticate server
 mab
 dot1x pae authenticator
 dot1x timeout server-timeout 30
 dot1x timeout tx-period 5
 dot1x timeout supp-timeout 15
{% endfor -%}
